* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c2c2c;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#map {
    width: 1300px;
    height: 800px;
    border-radius: 10px;
}

section {
    background-color: #0e0e0e;
    border-radius: 20px;
}

